<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="IT之家">
    <meta name="Copyright" content="IT之家版权所有">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>金币商城</title>

    <link href="{% static 'redeem/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'redeem/css/common.css' %}" rel="stylesheet">
    <link href="{% static 'redeem/css/msc-confirm-style.css' %}" rel="stylesheet">
    <link href="{% static 'redeem/css/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'redeem/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'redeem/css/msc-confirm-style.css' %}" rel="stylesheet">

    <script type="text/javascript" async="" charset="utf-8" src="https://c.cnzz.com/core.php?web_id=1260153598&amp;t=q"></script>
    <script src="{% static 'redeem/js/jquery.js' %}"></script>
    <script src="{% static 'redeem/js/msc-confirm-script.js' %}"></script>
    <script src="{% static 'redeem/js/msc-confirm-script.js' %}"></script>
    <script src="{% static 'redeem/js/coinshopcommon.js' %}"></script>

</head>

<body class="nimbus-is-editor vsc-initialized" style="">
    <div class="function">
{% if request.user.is_authenticated %}
        <div class="unloggedshow">
            <a style="font-size: 15px;">我的金币:<span style="color:#D22222">{{ user.goldCoin }}</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'activity:lottery' %}" style="color:red;font-size: 15px;">获取金币 ››</a>
        </div>
{% else %}
        <a href="javascript:openinappConfirm('https://my.ruanmei.com/shop/shopindex.aspx');" style="display: block;">
            <div class="unloggedshow">
                <a href="javascript:; " class="login">登录查看</a>
                <img src="{% static "redeem/images/goright.png" %}">
            </div>
        </a>
{% endif %}
    </div>

    <div class="prolist">
        <h3 class="title">超值兑换</h3>
        <ol class="protable lp-list">
{% for prize in prizes %}
            <li>
                <a href="javascript:showduihuan({{ prize.id }});" class="touchblock" data-todayremain="9957">
                    <div class="picwrapper ">
                        <img src="/static/{{ prize.image }}">
                    </div>
                    <span class="titletext">
                        {{ prize.name }}
                    </span>
                    <span class="shengyuinfo">&nbsp;
                        {{ prize.describes }}
                    </span>
                    <div class="pricerow">
                        <span class="coinsize">{{ prize.price }}</span>金币
                    </div>
                </a>
                <s></s>
        <div class="duihuan"><a href="javascript:showduihuan({{ prize.id }});">申请兑换</a></div>
            </li>
{% endfor %}
        </ol>
    </div>

<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/2.1.1/jquery.min.js"></script>
<script>(window.jQuery || document.write("<script src='https://img.ithome.com/file/js/jquery/jquery.min.js'><\/script>"));</script>
<script src="{% static 'js/article/common.js' %}"></script>
<script src="{% static 'js/article/popwin.js' %}"></script>
<script src="{% static 'js/article/top.js' %}"></script>
<script src="{% static 'redeem/js/owl.carousel.js' %}"></script>
<script type="text/javascript">
    var csrftoken = "{{ csrf_token }}";
    function showduihuan(id){
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            //headers: { "X-CSRFToken": token_csrf },
            url: "/activity/redeem/" +id ,
            dataType: "json",
            cache: false,
            //data: JSON.stringify(),
            async : true,
            timeout: 10000,
            error: function (data) {
                alert("服务器错误！");
            },
            success: function (data) {
                if (null != data && "" != data) {
                    if(data.status == "1"){
                        alert("兑换成功！稍后工作人员会跟您联系，请保持电话畅通。");
                        location.reload();
                    }else{
                        alert("兑换失败！")
                    }
                }
            }
        });
    }
</script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>

</body></html>