{% extends 'loginAndRegisterBase.html' %}
{% load static %}

{% block formHead %}
<form method="post" action="{% url 'register' %}" id="form1" class="form_style">
    <input type="text" name="_prevent_auto_complete_name" autocomplete="off" readonly="readonly" style="display: none !important;"/>
    <input type="password" name="_prevent_auto_complete_pass" autocomplete="new-password" readonly="readonly" style="display: none !important;" />
    <div id="rm_login">
        <div class="txtAccount">使用软媒通行证，畅享软媒所有服务</div>
{% endblock %}

{% block loginOrRegister %}
    <div id="reg_panel">
        <div class="userinput_parent">
            <div class="user_input_text">&nbsp;</div>
            <input type="text" name="email" class="user_input" id="txtEmail" placeholder="邮箱" />
        </div>
        <div class="userinput_parent">
            <div class="user_input_text">&nbsp;</div>
            <input type="password" name="password" class="user_input" id="txtPwd"  placeholder="密码" />
        </div>

        <div class="userinput_parent captcha1 {% if register_form.captcha.errors %} errorput{% endif %}">
            <div class="user_input_text" id="user_input_text_captcha1">&nbsp;</div>
            {{ register_form.captcha }}
            {{ active_form.captcha }}
        </div>
        <div><a class="login_now a_link" href="javascript:loginnow_clicked()">已有软媒通行证</a></div>
        <div><a class="regbtn" href="javascript:registerbtn_clicked()">注册</a></div>
        <div class="rm-protocol">
            <a href="javascript:read_protocol_click()">
                <img id="read_protocol_img" width="15" height="15" src="{% static 'image/register/unchecked.png' %}" />
            </a>
            我已阅读并同意
            <a class="a_link register_protocol" href="https://www.ruanmei.com/agreement/reg.htm">《注册协议》</a>
            和
            <a class="a_link privacy_policy" href="https://www.ruanmei.com/agreement/privacy.htm">《隐私政策》</a>
        </div>
    </div>
{% endblock %}
