<html lang="zh-cmn-Hans" class=" "><head>
    <meta charset="UTF-8">
    <title>开发类 - 在线工具</title>
    <meta name="referrer" content="no-referrer" />
    <link rel="search" type="application/opensearchdescription+xml" title="在线工具" href="https://tool.lu/opensearch.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, viewport-fit=cover">
    <meta name="author" content="xiaozi">
    <link rel="publisher" href="https://plus.google.com/113621341737546487026">
    <link rel="canonical" href="https://tool.lu/c/developer/">
    <meta property="og:locale" content="zh_CN">
    <meta property="og:title" content="开发类">
    <meta property="og:site_name" content="在线工具">
    <meta property="og:description" content="在线工具,开发人员工具,代码格式化、压缩、加密、解密,下载链接转换">
    <meta property="og:type" content="website">
    <meta property="og:image" content="//qn13.tool.lu/201908/25/232334CvNgX3l2slPFu8DK_1200x630.png">
    <meta property="og:url" content="https://tool.lu/c/developer/">
    <meta name="keywords" content="在线工具,工具,开发人员工具,站长工具">
    <meta name="description" content="在线工具,开发人员工具,代码格式化、压缩、加密、解密,下载链接转换">
    <link rel="shortcut icon" href="https://tool.lu/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="在线工具">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="grey">
    <link rel="apple-touch-icon" sizes="57x57" href="//qn11.tool.lu/201711/08/002818pvCvPDnAZK6IioEb_57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="//qn11.tool.lu/201711/08/002819Dt982ULrn0pC7AL1_72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="//qn11.tool.lu/201711/08/002818ZlzSK5t2HM5icUJN_114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="//qn11.tool.lu/201711/08/002819v0Gaydtvy2P4y03G_144x144.png">
    <!--[if lt IE 9]>
    <script src="//s1.tool.lu/__/6f8c881821420275fc59b30c6999a75b.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//s2.tool.lu/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="//s3.tool.lu/__/a5b2a3fd62df3d5d62a029e6d212697d.css">
    <link rel="stylesheet" href="//s4.tool.lu/__/081a8409ef017a2f484b1874c506db4d.css">
            <script async="" src="https://analytics.tool.lu/ta.js"></script><script src="https://hm.baidu.com/hm.js?0fba23df1ee7ec49af558fb29456f532"></script><script src="//analytics.tool.lu/te.js" crossorigin="anonymous"></script>
        <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?0fba23df1ee7ec49af558fb29456f532";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script src="//s1.tool.lu/__/060febbce34c518547c352ebc00588bd.js"></script>
<body class="nimbus-is-editor">
<!--[if lt IE 9]>
<div class="notice chromeframe">您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank"
                                                                                   href="http://browsehappy.com">立即升级</a>
</div>
<![endif]-->
<div class="g-nav clearfix">
    <ul>
        <li class="hidden-xs"><a href="//tool.lu/">在线工具</a></li>
    </ul>
</div>
<div id="wrap">
    <div id="hdr">
        <div class="w">
            <a class="logo" rel="nofollow" href="https://tool.lu/">
                在线工具<!--<span class="sup"></span>--></a>
            <h1 class="hidden">在线工具</h1>
            <div id="eles">
            </div>
        </div>
    </div>
    <div id="nav" class="hidden-xs hidden-sm" style="z-index: 1000;">
        <div class="w">
            <div class="nav-inner clearfix">
                <ul class="clearfix" style="float: left;">
                    <li class="hidden-xs  active">
                        <a href="#">常用</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><div></div>
    <div id="btm-nav" class="visible-xs visible-sm">
        <div class="opts">
        </div>
    </div>
    <div id="bdy">
        <div class="w">
<div class="main no-side" id="page">
    <div class="inner">
        <div class="item tool-forex">
            <div class="item-inner">
                <div class="item-hd">
                    <a target="_blank" href="{% url 'QurtyAssistant:fuli' %}" class="item-icon"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="48" height="48" alt="fuli"></a>
                    <h3><a target="_blank" href="{% url 'QurtyAssistant:fuli' %}">复利计算</a></h3>
                </div>
                <div class="item-bd">
                    <div class="item-desc" title="银行存贷款利息">银行存贷款利息</div>
                </div>
                <div class="item-ft">
                    <a target="_blank" class="item-btn" href="{% url 'QurtyAssistant:fuli' %}">进入</a>
                </div>
            </div>
        </div>
        <div class="item tool-hexconvert">
            <div class="item-inner">
                <div class="item-hd">
                    <a target="_blank" href="{% url 'QurtyAssistant:unicode' %}" class="item-icon"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="48" height="48" alt="Unicode编码转换"></a>
                    <h3><a target="_blank" href="{% url 'QurtyAssistant:unicode' %}">Unicode编码转换</a></h3>
                </div>
                <div class="item-bd">
                    <div class="item-desc" title="Unicode编码与中文的转换">Unicode编码与中文相互转换</div>
                </div>
                <div class="item-ft">
                    <a target="_blank" class="item-btn" href="{% url 'QurtyAssistant:unicode' %}">进入</a>
                </div>
            </div>
        </div>
        <div class="item tool-json">
            <div class="item-inner">
                <div class="item-hd">
                    <a target="_blank" href="{% url 'QurtyAssistant:json' %}" class="item-icon"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="48" height="48" alt="Json校验格式化"></a>
                    <h3><a target="_blank" href="{% url 'QurtyAssistant:json' %}">Json校验格式化</a></h3>
                </div>
                <div class="item-bd">
                    <div class="item-desc" title="Json校验格式化">在线Json校验格式化工具</div>
                </div>
                <div class="item-ft">
                    <a target="_blank" class="item-btn" href="{% url 'QurtyAssistant:json' %}">进入</a>
                </div>
            </div>
        </div>
    </div>
        <div class="inner"></div>
    </div>
</div>
</div>
<div id="ftr">
    <div class="w">
        <p class="declare">
            <a target="_blank" href="mailto:245565986@qq.com">联系我</a> - <a rel="nofollow" href="https://tool.lu/">工具首页</a>
            <br>
            Copyright © 2011-2020 <a rel="noopener noreferrer" href="http://type.so/" target="_blank">iteam</a>.
            Current version is <a style="color: #009a61;" href="https://tool.lu/changelog.html">2.64.2</a>.
            GMT+0800, 2020-04-08 23:25<br>
            <a rel="noopener noreferrer" target="_blank" href="http://www.beian.miit.gov.cn/">浙ICP备14020137号</a>
            <a href="https://tool.lu/visitor/">$访客地图$</a>
        </p>
    </div>
</div>
</div>

<script>
    (function () {
        var a = document.createElement("script");
        a.async = !0;
        a.src = ("https:" == document.location.protocol ? "https:" : "http:") + "//analytics.tool.lu/ta.js";
        var b = document.getElementsByTagName("script")[0];
        b.parentNode.insertBefore(a, b)
    })();
</script>
<script src="//s2.tool.lu/__/e7dc1f2927665000350c2b5c1177e821.js"></script>
<script src="//s3.tool.lu/__/044f9466a86bcd5f9abef2dbd779218e.js"></script>



<div class="nsc-video-editor nsc-hide events" style="width: 2031px; height: 1858px;"><canvas width="2031" height="1858" style="width: 2031px; height: 1858px; position: absolute; top: 0px; left: 0px; z-index: 0;"></canvas><canvas width="2031" height="1858" style="width: 2031px; height: 1858px; position: absolute; top: 0px; left: 0px; z-index: 1;"></canvas><canvas width="2031" height="1858" style="width: 2031px; height: 1858px; position: absolute; top: 0px; left: 0px; z-index: 2;"></canvas></div><div class="nsc-content-camera nsc-hide">
    <div class="nsc-content-camera-buttons" flex="none" layout="row" layout-align="start start">
        <button class="nsc-content-camera-button" type="button" id="nsc_video_camera_collapse" style="display: none">
            <span class="nsc-icon nsc-icon-panel-collapse"></span>
        </button>
        <button class="nsc-content-camera-button" type="button" id="nsc_video_camera_expand">
            <span class="nsc-icon nsc-icon-panel-expand"></span>
        </button>
        <button class="nsc-content-camera-button" type="button" id="nsc_video_camera_close">
            <span class="nsc-icon nsc-icon-panel-close"></span>
        </button>
    </div>
    <div class="nsc-content-camera-container">
        <div class="nsc-content-camera-shadow"></div>
    </div>
</div>
</body></html>