<html lang="zh-cmn-Hans" class=" "><head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <link rel="dns-prefetch" href="//s1.tool.lu">
    <link rel="dns-prefetch" href="//s2.tool.lu">
    <link rel="dns-prefetch" href="//s3.tool.lu">
    <link rel="dns-prefetch" href="//s4.tool.lu">
    <link rel="dns-prefetch" href="//qn11.tool.lu">
    <link rel="dns-prefetch" href="//qn12.tool.lu">
    <link rel="dns-prefetch" href="//qn13.tool.lu">
    <link rel="dns-prefetch" href="//qn14.tool.lu">
    <link rel="dns-prefetch" href="//analytics.tool.lu">
    <title>文本比对 - 在线工具</title>
    <link rel="search" type="application/opensearchdescription+xml" title="在线工具" href="https://tool.lu/opensearch.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, viewport-fit=cover">
    <meta name="author" content="xiaozi">
    <link rel="publisher" href="https://plus.google.com/113621341737546487026">
    <link rel="canonical" href="https://tool.lu/diff/">
    <meta property="og:locale" content="zh_CN">
    <meta property="og:title" content="文本比对">
    <meta property="og:site_name" content="在线工具">
    <meta property="og:description" content="文本比对，代码比对">
    <meta property="og:type" content="website">
    <meta property="og:image" content="//qn13.tool.lu/201908/25/232334CvNgX3l2slPFu8DK_1200x630.png">
    <meta property="og:url" content="https://tool.lu/diff/">
    <meta name="keywords" content="文本比对,代码比对">
    <meta name="description" content="文本比对，代码比对">
    <link rel="shortcut icon" href="https://tool.lu/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="在线工具">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="grey">
    <link rel="apple-touch-icon" sizes="57x57" href="//qn11.tool.lu/201711/08/002818pvCvPDnAZK6IioEb_57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="//qn11.tool.lu/201711/08/002819Dt982ULrn0pC7AL1_72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="//qn11.tool.lu/201711/08/002818ZlzSK5t2HM5icUJN_114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="//qn11.tool.lu/201711/08/002819v0Gaydtvy2P4y03G_144x144.png">
    <!--[if lt IE 9]>
    <script src="//s1.tool.lu/__/6f8c881821420275fc59b30c6999a75b.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//s2.tool.lu/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="//s3.tool.lu/__/a5b2a3fd62df3d5d62a029e6d212697d.css">
    <link rel="stylesheet" href="//s4.tool.lu/__/081a8409ef017a2f484b1874c506db4d.css">
            <script async="" src="https://analytics.tool.lu/ta.js"></script><script src="https://hm.baidu.com/hm.js?0fba23df1ee7ec49af558fb29456f532"></script><script src="//analytics.tool.lu/te.js" crossorigin="anonymous"></script>
        <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?0fba23df1ee7ec49af558fb29456f532";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script src="//s1.tool.lu/__/060febbce34c518547c352ebc00588bd.js"></script>
    <style type="text/css">
        .main .inner {
            margin: 10px 0px 0 0;
            position: relative;
        }
    </style>
</head>
<body class="nimbus-is-editor">
<!--[if lt IE 9]>
<div class="notice chromeframe">您的浏览器版本<strong>很旧很旧</strong>，为了正常地访问网站，请升级您的浏览器 <a target="_blank"
                                                                                   href="http://browsehappy.com">立即升级</a>
</div>
<![endif]-->
<div class="g-nav clearfix">
    <ul>
        <li class="hidden-xs"><a href="//tool.lu/">在线工具</a></li>
    </ul>
</div>
<div id="wrap">
    <div id="hdr">
        <div class="w">
            <a class="logo" rel="nofollow" href="https://tool.lu/">
                在线工具<!--<span class="sup"></span>--></a>
            <h1 class="hidden">文本比对</h1>
        </div>
    </div>
    <div id="nav" class="hidden-xs hidden-sm" style="z-index: auto; position: static; top: auto;">
        <div class="w">
            <div class="nav-inner clearfix">
                <ul class="clearfix" style="float: left;">
                    <li>文本对比</li>
                </ul>
            </div>
        </div>
    </div><div style="display: none; width: 1418px; height: 37px; float: none;"></div>
    <div id="bdy">
        <div class="w">
<div class="main">
    <div class="inner">
        <div id="code_view">
        </div>
        <script src="//s2.tool.lu/js/comment/top.js"></script>
    </div>
</div>
<link rel="stylesheet" href="//s3.tool.lu/__/766ea67e50d0f1ff42d6d7bd9673a8cb.css">
<script>
var leftValue="v1.0 2017-08-06 \u6bd4\u5bf9\u529f\u80fd\u4e0a\u7ebf\n\u5982\u679c\u89c9\u5f97\u4e0d\u9519\uff0c\u53ef\u4ee5\u5206\u4eab\u7ed9\u4f60\u7684\u670b\u53cb\u3002";
var rightValue="v1.0 2017-08-06 \u6bd4\u5bf9\u529f\u80fd\u4e0a\u7ebf";
</script>
<script src="//s4.tool.lu/js/diff/diff_match_patch.js"></script>
<script src="//s1.tool.lu/__/011780363da27da05419840656c356c7.js"></script>
</div>
</div>
<div id="ftr">
    <div class="w">
        <p class="declare">
            <a target="_blank" href="mailto:245565986@qq.com">联系我</a> - <a rel="nofollow" href="https://tool.lu/">工具首页</a>
            <br>
            Copyright © 2011-2020 <a rel="noopener noreferrer" href="http://type.so/" target="_blank">iteam</a>.
            Current version is <a style="color: #009a61;" href="https://tool.lu/changelog.html">2.64.2</a>.
            UTC+08:00, 2020-04-13 00:46<br>
            <a rel="noopener noreferrer" target="_blank" href="http://www.beian.miit.gov.cn/">浙ICP备14020137号</a>
            <a href="https://tool.lu/visitor/">$访客地图$</a>
        </p>
    </div>
</div>
</div>

<script>
    (function () {
        var a = document.createElement("script");
        a.async = !0;
        a.src = ("https:" == document.location.protocol ? "https:" : "http:") + "//analytics.tool.lu/ta.js";
        var b = document.getElementsByTagName("script")[0];
        b.parentNode.insertBefore(a, b)
    })();
</script>
<script src="//s2.tool.lu/__/e7dc1f2927665000350c2b5c1177e821.js"></script>
<script src="//s3.tool.lu/__/044f9466a86bcd5f9abef2dbd779218e.js"></script>

</body></html>