<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Unicode编码转换 - 站长工具</title>
        <meta name="keywords" content="Unicode编码转换,Unicode转ASCII,ASCII转Unicode,中文转Unicode,Unicode转中文">
        <meta name="description" content="本工具是Unicode编码转换，为您提供ASCII与Unicode互转，Unicode与中文互转，在文本框里输入要转换的内容，然后点击要转换的类型按钮，转换完成后即可看到对应的内容。">
    <script src="https://zz.bdstatic.com/linksubmit/push.js"></script><script>
        var jsurlbase = '//csstools.chinaz.com/tools/js';
        var imgurlbase = '//csstools.chinaz.com/tools/images';
        var styleurlbase = '//csstools.chinaz.com/tools/styles';
    </script>
    <script type="text/javascript" src="//csstools.chinaz.com/common/js/mobilepage.js?v=201702"></script>
    <link rel="stylesheet" type="text/css" href="//csstools.chinaz.com/common/styles/all-base.css?v=201803">
    <link rel="stylesheet" type="text/css" href="//csstools.chinaz.com/common/styles/publicstyle-v2.css?v=201912">
    <link rel="shortcut icon" type="image/ico" href="//img.chinaz.com/favicon.ico">
    <script type="text/javascript" src="//csstools.chinaz.com/common/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="//csstools.chinaz.com/common/js/jq-public.js?v=201708"></script>
    <script type="text/javascript" src="//csstools.chinaz.com/common/layer/layer.js?v=201801"></script><link rel="stylesheet" href="https://csstools.chinaz.com/common/layer/layer.css?v=3.1.1" id="layuicss-layer">
    <script type="text/javascript" src="//csstools.chinaz.com/tools/js/member.js?v=201910"></script><link rel="stylesheet" type="text/css" href="//csstools.chinaz.com/common/styles/loginpopup.css?v=20190718">
        <!--[if IE 6]>
    <script type="text/javascript" src="//csstools.chinaz.com/common/js/DD_belatedPNG.js"></script>
    <script>    DD_belatedPNG.fix('*');</script>
    <![ENDIF]-->
    <link rel="stylesheet" href="//csstools.chinaz.com/tools/styles/toolstyle.css" type="text/css"><script src="//csstools.chinaz.com/tools/js/jq-tools.js" charset="gb2312" type="text/javascript"></script>
<script type="text/javascript" src="//csstools.chinaz.com/myuser/chinaz_top.js" charset="utf-8"></script></head>

<body class=" pularge">
    <!--top-public-begin-->
    <div class="ww100">
        <!--ToolTop-begin-->
    <div class="ToolTop bor-b1s clearfix">
        <div class="wrapper02 SimSun">
            <div class="fr TrigW" id="chinaz_topbar"><div class="userbar">
</div>
</div>
        </div>
</div>
    <!--ToolTop-end-->

    <!--ToolHead-begin-->
        <div class="ToolHead">
        <div class="wrapper clearfix">
            <h1 class="ToolLogo fl"><a href="/"><img src="//csstools.chinaz.com/tools/images/public/logos/logo-index.png"></a></h1>
                                </div>
    </div>
        <!--ToolHead-end-->         <!--ToolNavbar-begin-->
        <div class="ToolNavbar" id="ToolNav">
            <div class="navbar-bg">
                <div class="navbar-bg-top">
                    <div class="navbar-content pr">
                        <div class="navbar-content-box">
                            <div class="wrapper02 clearfix" id="Navbar">
                                <ul class="odd">
                                    <li class="dt"><a href="//tool.chinaz.com">首页</a></li>
                                    <li class="dd">
                                        <a href="//api.chinaz.com" target="_blank">站长数据API</a>
                                        <a href="//aso.chinaz.com" target="_blank">APP榜单监控</a>
                                        <a href="//zj.chinaz.com" target="_blank">SEO优化中介</a>
                                        <a href="//cdn.chinaz.com" target="_blank">CDN云观测</a>
                                        <a href="//data.chinaz.com" target="_blank">星网大数据</a>
                                    </li>
                                </ul>
                                <ul class="odd">
                                    <li class="dt"><a href="http://ip.tool.chinaz.com">域名/IP类</a></li>
                                    <li class="dd">
                                        <a href="//tool.chinaz.com/DomainDel/" target="_blank">域名到期查询</a>
                                        <a href="//del.chinaz.com" target="_blank">过期域名查询</a>
                                        <a href="//whois.chinaz.com" target="_blank">WHOIS查询</a>
                                        <a href="http://ip.tool.chinaz.com" target="_blank">IP 查询</a>
                                        <a href="http://ip.tool.chinaz.com/Same/" target="_blank">同IP网站查询</a>
                                        <a href="//tool.chinaz.com/dns/" target="_blank">DNS查询</a>
                                    </li>
                                </ul>
                                <ul class="both">
                                    <li class="dt"><a href="//icp.chinaz.com">网站信息查询</a></li>
                                    <li class="dd">
                                        <a href="//alexa.chinaz.com" target="_blank" class="rig">Alexa排名</a>
                                        <a href="//icp.chinaz.com" target="_blank">网站备案查询</a>
                                        <a href="//tool.chinaz.com/webdetect/" target="_blank" class="rig">网页检测</a>
                                        <a href="//tool.chinaz.com/pagestatus/" target="_blank">HTTP状态查询</a>
                                        <a href="//tool.chinaz.com/Tools/pagecode.aspx" target="_blank" class="rig">查看网页源代码</a>
                                        <a href="//tool.chinaz.com/tools/robot.aspx" target="_blank">机器人模拟抓取</a>
                                        <a href="//tool.chinaz.com/robots/" target="_blank" class="rig">robots.txt生成</a>
                                        <a href="//tool.chinaz.com/port" target="_blank">端口扫描</a>
                                        <a href="//tool.chinaz.com/sitespeed" target="_blank" class="rig">网站速度测试</a>
                                        <a href="//ping.chinaz.com/" target="_blank">ping测试</a>
                                        <a href="//tool.chinaz.com/ipwhois" target="_blank" class="rig">ip whois查询</a>
                                        <a href="//tool.chinaz.com/nslookup" target="_blank">nslookup查询</a>
                                    </li>
                                </ul>
                                <ul class="both">
                                    <li class="dt"><a href="//seo.chinaz.com">SEO查询</a></li>
                                    <li class="dd">
                                        <a href="//seo.chinaz.com" target="_blank" class="rig">SEO综合查询</a>
                                        <a href="//tool.chinaz.com/tools/density.aspx" target="_blank">关键词密度检测</a>
                                        <a href="//link.chinaz.com" target="_blank" class="rig">友情链接检测</a>
                                        <a href="//outlink.chinaz.com" target="_blank">反链查询</a>
                                        <a href="//tool.chinaz.com/shoulu/" target="_blank" class="rig">收录查询</a>
                                        <a href="//tool.chinaz.com/baidu/metadig.aspx" target="_blank">META信息挖掘</a>
                                        <a href="//pr.chinaz.com" target="_blank" class="rig">PR查询</a>
                                        <a href="//tool.chinaz.com/kws/" target="_blank">关键词排名查询</a>
                                        <a href="//tool.chinaz.com/baidu/words.aspx" target="_blank" class="rig">关键词挖掘</a>
                                        <a href="//tool.chinaz.com/kwevaluate" target="_blank">关键词优化分析</a>
                                        <a href="//tool.chinaz.com/webscan" target="_blank" class="rig">网站安全检测</a>
                                        <a href="//tool.chinaz.com/links" target="_blank">死链接检测</a>
                                    </li>
                                </ul>
                                <ul class="odd">
                                    <li class="dt"><a href="//rank.chinaz.com/all" class="pr">权重查询<span class="ico-navNew pa"></span></a></li>
                                    <li class="dd">
                                        <a href="//rank.chinaz.com" target="_blank">百度PC权重</a>
                                        <a href="//rank.chinaz.com/baidumobile" target="_blank">百度移动权重</a>
                                        <a href="//rank.chinaz.com/sorank" target="_blank">360PC权重</a>
                                        <a href="//rank.chinaz.com/rank360" target="_blank">360移动权重</a>
                                        <a href="//rank.chinaz.com/smrank" target="_blank">神马权重</a>
                                        <a href="//rank.chinaz.com/toutiao" target="_blank">头条权重</a>
                                    </li>
                                </ul>
                                <ul class="odd">
                                    <li class="dt"><a href="//report.chinaz.com" class="pr">数据分析<span class="ico-navNew pa"></span></a></li>
                                    <li class="dd">
                                        <a href="//xzh.chinaz.com" target="_blank">熊掌号查询</a>
                                        <a href="//xzh.chinaz.com/baidupcbjh" target="_blank">百家号查询</a>
                                        <a href="//report.chinaz.com" target="_blank">网站SEO报告</a>
                                        <a href="//trends.chinaz.com" target="_blank">数据内参</a>
                                        <a href="//index.chinaz.com/" target="_blank">关键词指数</a>
                                    </li>
                                </ul>
                                <ul class="odd">
                                    <li class="dt"><a href="//tool.chinaz.com/map.aspx">辅助工具</a></li>
                                    <li class="dd">
                                        <a href="//tool.chinaz.com/Tools/textencrypt.aspx" target="_blank">加密解密</a>
                                        <a href="//tool.chinaz.com/Tools/Unicode.aspx" target="_blank">编码转换</a>
                                        <a href="//tool.chinaz.com/Tools/JsCodeConfusion.aspx" target="_blank">压缩格式化</a>
                                        <a href="//tool.chinaz.com/Tools/dwz.aspx" target="_blank">短网址生成</a>
                                        <a href="//tool.chinaz.com/Tools/unixtime.aspx" target="_blank">Unix时间戳</a>
                                        <a href="//tool.chinaz.com/Tracert/" target="_blank">路由器追踪</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
                    </div>
        <!--top-public-end-->



<!--Tool-MainWrap-begin-->
<div class="Tool-MainWrap wrapper">
    <p class="ClassHead-wrap clearfix">
        <a href="javascript:" class="CHeadcur ml15">Unicode编码</a>
        <a href="/tools/utf-8.aspx">UTF-8编码</a>
        <a href="/tools/urlencode.aspx">URL编码/解码</a>
        <a href="/tools/unixtime.aspx">Unix时间戳</a>
        <a href="/tools/native_ascii.aspx">Ascii/Native编码互转</a>
        <a href="//stool.chinaz.com/hex">Hex编码/解码</a>
		<a href="/tools/htmlencode.aspx">Html编码/解码</a>
    </p>
</div>
<!--filter-content-end-->
<!--Tool-MainWrap-begin-->
<!--ToolMain02-begin-->
<div class="wrapper">
    <div class="wwlr auto">
    <form method="post" action="/">
        <!--GuoLvWrap-begin-->
   		<div class="clearfix">
            <div class="pr JsTxtW-r fl">
                <textarea class="JsTxtCo bor-a1s h200 WrapHid wwlr-l" name="content" id="content"></textarea>
                <b class="search-hint CentHid">请把你需要转换的内容粘贴在这里</b>
            </div>
            <div class="pr JsTxtW-r ml20 fl">
                <textarea class="JsTxtCo bor-a1s h200 WrapHid wwlr-l" name="result" id="result"></textarea>
                <b class="search-hint CentHid">转换后的结果</b>
            </div>
              </div>

      <div class="GuoLvWrapCenter pt10 clearfix">
            <div class="GuoLvCbtn">
            <input type="button" id="asicctounicode1" value="Unicode 转 中文" class="GLOkBtn">
            <input type="button" id="unicodetoasicc1" value="中文 转 Unicode" class="GLOkBtn">
            <input type="button" id="clear" value="清空结果" class="bg-blue02 YaHei">
            </div>
          </div>

        <!--GuoLvWrap-end-->
    </form>
    </div>
</div>
<!--ToolMain02-end-->
<script>    var result = document.getElementById("result"); ted.unicode();</script>
<!--footer-public-begin-->
<div class="wrapper mt10">

    <!--<div class="ToolsWrap" id="centerImg"></div>-->

        <div class="ToolAbout wrapper03">
        <div class="clearfix">
            <h4 class="HeadH4 YaHei fz16 col-blue02 fwnone fl">工具简介</h4>
        </div>
        <div class="col-gray01 ToolAbCont">本工具是Unicode编码转换，为您提供ASCII与Unicode互转，Unicode与中文互转，在文本框里输入要转换的内容，然后点击要转换的类型按钮，转换完成后即可看到对应的内容。</div>
    </div>
    </div>

<!--ToolFooter-begin-->
<div class="puw100 h80 bor-t1s mt10 bg-white">

    <div class="ToolFooter">
        <p class="linkbtn">
            <a href="http://www.chinaz.com/aboutus/index.html" target="_blank">关于站长之家</a> | <a href="http://ww.chinaz.com/aboutus/contact.php" target="_blank">联系我们	</a> | <a href="http://www.chinaz.com/aboutus/ad.html" target="_blank">广告服务</a> | <a href="http://www.chinaz.com/aboutus/link.html" target="_blank">友情链接</a> | <a href="http://www.chinaz.com/aboutus/events.html" target="_blank">网站动态</a> | <a href="http://www.chinaz.com/aboutus/announce.html" target="_blank">版权声明</a> | <a href="http://www.chinaz.com/aboutus/join.html" target="_blank">人才招聘</a> | <a href="http://www.chinaz.com/aboutus/help.html" target="_blank">帮助</a>        </p>
        <p class="info"><span>© CopyRight 2002-2020, CHINAZ.COM, Inc.All Rights Reserved.</span><span>闽ICP备08105208号</span><span>增值电信业务经营许可证闽B2-20120007号</span><a href="http://www.wy.cn" rel="nofollow" target="_blank" class="col-gray02">服务器资源由唯一网络赞助</a><span class="col-gray02 ml10">亿速云提供<a href="http://www.yisu.com/" target="_blank" rel="nofollow" class="col-blue03">云服务器</a>支持</span></p>
    </div>
</div>
<!--ToolFooter-end-->
<!--footer-public-end-->

    <script src="//stats.chinaz.com/gj_g/tool_a.js" type="text/javascript"></script><div style="display:none"><script src="https://s9.cnzz.com/stat.php?id=433095&amp;web_id=433095" language="JavaScript"></script><script src="https://c.cnzz.com/core.php?web_id=433095&amp;t=z" charset="utf-8" type="text/javascript"></script><a href="https://www.cnzz.com/stat/website.php?web_id=433095" target="_blank" title="站长统计">站长统计</a></div>

    <script type="text/javascript" src="//my.chinaz.com/js/uc.js" charset="utf-8"></script><script type="text/javascript" src="//my.chinaz.com/Topbar/Top" charset="utf-8"></script>
    <link href="//csstools.chinaz.com/myuser/max-templates/passport/styles/topbar.css" type="text/css" rel="Stylesheet">
    <link href="//csstools.chinaz.com/myuser/max-templates/default/styles/dialog.css" type="text/css" rel="Stylesheet">
    <link href="//my.chinaz.com/Content/style/top.css" type="text/css" rel="Stylesheet">

    <script type="text/javascript">
        //Unicode 转 中文
        $("#asicctounicode1").click(function () {
            if (document.getElementById('content').value == '') {
                alert('文本框中没有代码！');
                return;
            }
            var str = document.getElementById('content').value;
            str = str.replace(/\\/g, "%");
            document.getElementById('result').value = unescape(str);
            document.getElementById('content').focus();
            if (jQuery("#result").val()) $("#result").siblings().hide();

        });
        //中文 转 Unicode
        $("#unicodetoasicc1").click(function () {
            if (document.getElementById('content').value == '') {
                alert('文本框中没有代码！');
                return;
            }
            var str = document.getElementById('content').value;
            var res = [];
            for (var i = 0; i < str.length; i++) {
              res[i] = ( "00" + str.charCodeAt(i).toString(16) ).slice(-4);
            }

            document.getElementById('result').value = "\\u" + res.join("\\u");;
            document.getElementById('content').focus();
            if (jQuery("#result").val()) $("#result").siblings().hide();
        });
    </script>

</body></html>